/* Estilos básicos do cabeçalho e do menu */


header {
  display: flex;
  background: #FFBD25;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: relative;
}

.divMenuElogo {
  display: flex;
  align-items: center;
}

.divMenuBuguer {
  display: flex;
  margin-left: 10px;
  margin-right: 20px;
  border-right: 1px solid black;
  width: 80px;
}

#idButtonBuguer {
  background: transparent;
  cursor: pointer;
  border: none;
}

#idButtonBuguer #idBurguerIcon svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 5px;
}


#idDropDowMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #FFBD25;
  z-index: 10;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
}

/* Classe para mostrar o menu com animação */
#idDropDowMenu.show {
  display: block;
  /* Torna o menu visível */
  opacity: 1;
  /* Torna o menu visível */
  transform: translateY(0);
  /* Move o menu para baixo */
  visibility: visible;
  /* Torna o menu visível */
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
  /* Transições suaves */
}

/* Estilos adicionais para o conteúdo do menu */
#idDropDowMenu .divEstoqueDropdowMenu,
#idDropDowMenu .divRelatorioDropdowMenu {
  padding: 10px;
  /* Espaçamento interno do menu */
  /* Outros estilos conforme necessário */
}

#idDropDowMenu a {
  display: block;
  padding-top: 15px;
  text-decoration: none;
  color: #000;
  font-size: .8rem;
}

#idDropDowMenu a:hover {
  cursor: pointer;
  color: #006b0f;

}

/* Outros estilos para o cabeçalho e conteúdo */
.divLogo {
  display: flex;
  align-items: center;
}

.divLogo img {
  height: 7.5vh;
  margin-top: -10px;
}

.divNameUser {
  display: flex;
  align-items: center;
}

#idNameUser {
  margin-right: 1rem;
  font-size: 1rem;
}

main {
  height: 100vh;
}


main .divpathItensCaixa {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

main hr {
  text-align: center;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

main .divpathItensCaixa svg {
  display: flex;
  margin-left: 0;
  margin-right: 1rem;
}

main .divpathItensCaixa p {
  display: flex;
  margin: auto;
  margin-left: 0;
}

main .dados-do-cliente {
  display: flex;
  gap: 2rem;

  margin-top: 2rem;
  margin-left: 1rem;
  ;
}

main .dados-do-cliente .input-dados-do-cliente {
  display: flex;
  flex-direction: column;


}

main .dados-do-cliente .input-dados-do-cliente input {
  border: 1px solid rgba(0, 0, 0, 0.363);
  border-radius: 5px;

  margin-top: 0.2rem;
  height: 25px;
  width: 200px;

  background-color: transparent;
}


main form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  margin-right: 60px;
  margin-top: 80px;
}

main form .input-faturamento {
  display: flex;
  flex-direction: column;
}

main form input {
  border: 1px solid rgba(0, 0, 0, 0.363);
  border-radius: 5px;

  margin-top: 0.8rem;
  height: 25px;
  width: 200px;

  background-color: transparent;

}

main form button {
  border: none;
  border-radius: 10px;

  height: 40px;
  width: 80px;

  background-color: #006b0f;
  color: #FFFFFF;
}

main .section-lista {
  display: flex;
  justify-content: center;

  margin: auto;
  margin-top: 4rem;
  width: 90vw;

  border-radius: 15px;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.247);
}

main section #lista-de-faturamento li {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;

  list-style: none;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main section #lista-de-faturamento li button {
  height: 40px;
  width: 80px;
  background-color: rgb(223, 2, 2);
  color: #FFFFFF;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

main .section-faturamento {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main .section-faturamento .form-faturamento {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .section-faturamento .form-faturamento .input-faturamento select {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.356);
  margin-top: 0.8rem;
}

main .button-faturar {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  margin-right: 60px;
  margin-top: 1.5rem;
}

main .button-faturar button {
  border: none;
  border-radius: 10px;

  height: 40px;
  width: 100px;

  color: white;
  background-color: #006b0f;

  cursor: pointer;
}