/*MOBILE*/
@media only screen and (max-width: 667px) {

    /* Estilos básicos do cabeçalho e do menu */
    header {
        display: flex;
        background: #FFBD25;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        width: 100%;
        position: relative;
    }

    .divMenuElogo {
        display: flex;
        align-items: center;
    }

    .divMenuBuguer {
        display: flex;
        margin-left: 10px;
        margin-right: 20px;
        border-right: 1px solid black;
        width: 50px;
    }

    #idButtonBuguer {
        background: transparent;
        cursor: pointer;
        border: none;
    }

    #idButtonBuguer #idBurguerIcon svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    #idDropDowMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #FFBD25;
        z-index: 10;
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    }

    /* Classe para mostrar o menu com animação */
    #idDropDowMenu.show {
        display: block;
        /* Torna o menu visível */
        opacity: 1;
        /* Torna o menu visível */
        transform: translateY(0);
        /* Move o menu para baixo */
        visibility: visible;
        /* Torna o menu visível */
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
        /* Transições suaves */
    }

    /* Estilos adicionais para o conteúdo do menu */
    #idDropDowMenu .divEstoqueDropdowMenu,
    #idDropDowMenu .divRelatorioDropdowMenu {
        padding: 10px;
        /* Espaçamento interno do menu */
        /* Outros estilos conforme necessário */
    }

    #idDropDowMenu a {
        display: block;
        padding-top: 15px;
        text-decoration: none;
        color: #000;
        font-size: .8rem;
    }

    /* Outros estilos para o cabeçalho e conteúdo */
    .divLogo {
        display: flex;
        align-items: center;
    }

    .divLogo img {
        height: 5vh;
        margin-top: -10px;
    }

    .divNameUser {
        display: flex;
        align-items: center;
    }

    #idNameUser {
        margin-right: 1rem;
        font-size: 0.7rem;
    }

    /* Estilos para a seção e rodapé */
    section {
        height: 100vh;
        width: 100%;
        margin-top: 10px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }

    .sectionTitle {
        position: absolute;
        margin-top: -25px;
    }

    .divSectionEstoque {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 200px 200px;
        /* Ajusta automaticamente o layout */
        gap: 20px;
        /* Espaçamento entre os itens */
    }

    .divSectionRelatorio {
        margin-top: 40px;
    }

    .divSectionFaturamento {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 200px 200px;
        /* Ajusta automaticamente o layout */
        gap: 20px;
        /* Espaçamento entre os itens */
    }

    .buttonHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 125px;
        height: 100px;
        padding: 25px;
        background: #FAB003;
        border-radius: 4px;
        text-decoration: none;
        color: #000;
    }

    .nameButton {
        text-align: center;
        font-size: 0.8rem;
    }

    footer {
        background: #FFBD25;
        bottom: 0;
        width: 100%;
        height: 2rem;
        text-align: center;
    }
}

/*TABLETE*/
@media screen and (min-width: 667px) and (max-width: 992px) {

    /* Estilos básicos do cabeçalho e do menu */
    header {
        display: flex;
        background: #FFBD25;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        width: 100%;
        position: relative;
    }

    .divMenuElogo {
        display: flex;
        align-items: center;
    }

    .divMenuBuguer {
        display: flex;
        margin-left: 10px;
        margin-right: 20px;
        border-right: 1px solid black;
        width: 70px;
    }

    #idButtonBuguer {
        background: transparent;
        cursor: pointer;
        border: none;
    }

    #idButtonBuguer #idBurguerIcon svg {
        width: 2.5rem;
        height: 2.5rem;
    }


    #idDropDowMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #FFBD25;
        z-index: 10;
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    }

    /* Classe para mostrar o menu com animação */
    #idDropDowMenu.show {
        display: block;
        /* Torna o menu visível */
        opacity: 1;
        /* Torna o menu visível */
        transform: translateY(0);
        /* Move o menu para baixo */
        visibility: visible;
        /* Torna o menu visível */
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
        /* Transições suaves */
    }

    /* Estilos adicionais para o conteúdo do menu */
    #idDropDowMenu .divEstoqueDropdowMenu,
    #idDropDowMenu .divRelatorioDropdowMenu {
        padding: 10px;
        /* Espaçamento interno do menu */
        /* Outros estilos conforme necessário */
    }

    #idDropDowMenu a {
        display: block;
        padding-top: 15px;
        text-decoration: none;
        color: #000;
        font-size: .8rem;
    }

    /* Outros estilos para o cabeçalho e conteúdo */
    .divLogo {
        display: flex;
        align-items: center;
    }

    .divLogo img {
        height: 4vh;
        margin-top: -5px;
    }

    /* Estilos para a seção e rodapé */
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
        margin-left: 20px;
    }

    .sectionTitle {
        position: absolute;
        margin-top: -25px;
    }

    .divSectionEstoque {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Ajusta automaticamente o layout */
        gap: 15px;
        /* Espaçamento entre os itens */
        height: 0;
    }

    .divSectionRelatorio {
        margin-left: 15px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 200px 200px;
        /* Ajusta automaticamente o layout */
        gap: 20px;
        /* Espaçamento entre os itens */
    }

    .buttonHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 125px;
        height: 100px;
        padding: 25px;
        background: #FAB003;
        border-radius: 4px;
        text-decoration: none;
        color: #000;
    }

    .nameButton {
        text-align: center;
        font-size: 0.8rem;
    }

    footer {
        background: #FFBD25;
        bottom: 0;
        position: fixed;
        width: 100%;
        height: 2rem;
        text-align: center;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {

    /* Estilos básicos do cabeçalho e do menu */
    header {
        display: flex;
        background: #FFBD25;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        width: 100%;
        position: relative;
    }

    .divMenuElogo {
        display: flex;
        align-items: center;
    }

    .divMenuBuguer {
        display: flex;
        margin-left: 10px;
        margin-right: 20px;
        border-right: 1px solid black;
        width: 80px;
    }

    #idButtonBuguer {
        background: transparent;
        cursor: pointer;
        border: none;
    }

    #idButtonBuguer #idBurguerIcon svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 5px;
    }


    #idDropDowMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #FFBD25;
        z-index: 10;
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    }

    /* Classe para mostrar o menu com animação */
    #idDropDowMenu.show {
        display: block;
        /* Torna o menu visível */
        opacity: 1;
        /* Torna o menu visível */
        transform: translateY(0);
        /* Move o menu para baixo */
        visibility: visible;
        /* Torna o menu visível */
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
        /* Transições suaves */
    }

    /* Estilos adicionais para o conteúdo do menu */
    #idDropDowMenu .divEstoqueDropdowMenu,
    #idDropDowMenu .divRelatorioDropdowMenu,
    #idDropDowMenu .divFaturamentoDropDow {
        padding: 10px;

        /* Espaçamento interno do menu */
        /* Outros estilos conforme necessário */
    }

    #idDropDowMenu a {
        padding-top: 15px;
        text-decoration: none;
        color: #000;
        font-size: .8rem;
        display: flex;
        align-items: center;
    }

    #idDropDowMenu a:hover {
        cursor: pointer;
        color: #006b0f;

    }

    /* Outros estilos para o cabeçalho e conteúdo */
    .divLogo {
        display: flex;
        align-items: center;
    }

    .divLogo img {
        height: 7.5vh;
        margin-top: -10px;
    }

    .nomeLogadoEexit {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }

    .divSair {
        display: flex;
        align-items: center;
    }

    #idButtonSair {
        margin-right: 1rem;
        font-size: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* Estilos para a seção e rodapé */
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 10px;
        margin-left: 20px;
        max-width: 100vh;
    }

    .sectionTitle {
        position: absolute;
        margin-top: -25px;
    }

    .divSectionEstoque {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Ajusta automaticamente o layout */
        gap: 15px;
        /* Espaçamento entre os itens */
        height: 0;
    }

    .divSectionFaturamento {
        margin-top: 30px;
        margin-left: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Ajusta automaticamente o layout */
        gap: 15px;
        /* Espaçamento entre os itens */
        height: 0;
    }

    .divSectionRelatorio {
        margin-left: 15px;
        margin-top: 30px;
        grid-template-columns: 200px 200px;
        /* Ajusta automaticamente o layout */
        gap: 20px;
        /* Espaçamento entre os itens */
    }

    .buttonHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 125px;
        height: 100px;
        padding: 25px;
        background: #FAB003;
        border-radius: 4px;
        text-decoration: none;
        color: #000;
    }

    .nameButton {
        text-align: center;
        font-size: 0.8rem;
    }

    footer {
        background: #FFBD25;
        bottom: 0;
        position: fixed;
        width: 100%;
        height: 2rem;
        text-align: center;
    }
}