* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFBD25;
}

.nomeDoUsuario h2 {
  margin-left: -15%;
}

.menuELogo {
  display: flex;
}

.menuHamburguer button {
  background: transparent;
  cursor: pointer;
  margin: 10px 20px;
}

.menuDeFuncoes {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}


section1 .direcaopag {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 1%;
  margin-top: 1%;
}

section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

section2 .tabela-produtos {
  width: 80%;
  background-color: #fff;
  margin-top: 5%;
}

thead {
  background-color: #555;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.edit-btn {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn:hover {
  background-color: #333;
}

footer {
  background: #FFBD25;
  height: 6vh;
  margin-top: 10%;
}