header {
  display: flex;
  background: #FFBD25;
  justify-content: space-between;
  align-items: center; 
  height: 4rem;
  width: 100%;
  position: relative;
}

.divMenuElogo {
  display: flex;
  align-items: center; 
}

.divMenuBuguer {
  display: flex;
  margin-left: 10px;
  margin-right: 20px;
  border-right: 1px solid black;
  width: 80px;
}

#idButtonBuguer {
  background: transparent;
  cursor: pointer;
  border: none;
}

#idButtonBuguer #idBurguerIcon svg {
  width:2.5rem;
  height: 2.5rem;
}

#idDropDowMenu {
  display: none; 
  position: absolute; 
  top: 100%; 
  left: 0;
  background: #FFBD25; 
  z-index: 10; 
  opacity: 0;
  transform: translateY(-10px); 
  visibility: hidden; 
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease; 
}

/* Classe para mostrar o menu com animação */
#idDropDowMenu.show {
  display: block; /* Torna o menu visível */
  opacity: 1; /* Torna o menu visível */
  transform: translateY(0); /* Move o menu para baixo */
  visibility: visible; /* Torna o menu visível */
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease; /* Transições suaves */
}

/* Estilos adicionais para o conteúdo do menu */
#idDropDowMenu .divEstoqueDropdowMenu,
#idDropDowMenu .divRelatorioDropdowMenu {
  padding: 10px; /* Espaçamento interno do menu */
  /* Outros estilos conforme necessário */
}

#idDropDowMenu a {
  display: block;
  padding-top: 15px;
  text-decoration: none; 
  color: #000; 
}

#idDropDowMenu a:hover {
  cursor: pointer;
  color: #006b0f; 
  
}

/* Outros estilos para o cabeçalho e conteúdo */
.divLogo {
  display: flex;
  align-items: center;
}

.divLogo img {
  height: 7.5vh;
  margin-top: -10px;
}

.divNameUser {
  display: flex;
  align-items: center;
}

#idNameUser {
  margin-right: 1rem;
  font-size: 1rem;
}

section{
  display: flex;
  flex-direction: column;
  
}

section .divpathEntradaDeItens {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

section hr {
text-align: center;
width: 98%;
margin-left: auto;
margin-right: auto;
}

section .divpathEntradaDeItens svg {
  display: flex;
  margin-left: 0;
}

section .divpathEntradaDeItens p {
  display: flex;
  margin: auto;
  margin-left: 0;
}

section .divSaidaDeEstoque {
  display: flex;
  background-color: #dfdede;
  width: 50vw;
  margin: auto;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

section .divSaidaDeEstoque form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.flexLabel{
  display: flex;
  align-items: center;
  margin: 15px;
}

label{
  margin:0px 20px;
  width: 100px;
  height: 20px;
}

select{
  height: 25px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin: 10px 0px;
}

input{
  height: 25px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin: 10px 0px;
  padding-left: 5px;
}

input::placeholder{
  padding: 2px;
}
input:disabled{
  background: #a5a5a5;
}

/* Footer */

footer {
  background: #FFBD25;
  height: 6vh;
  width: 100%;
  bottom: 0;
  position: fixed;
}